<div id="<%= dom_id chat %>">
  <p>
    <strong>Number:</strong>
    <%= chat.number %>
  </p>

  <p>
    <strong>Application:</strong>
    <%= chat.application_id %>
  </p>

  <p>
    <strong>Messages count:</strong>
    <%= chat.messages_count %>
  </p>

</div>
